<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />


    <timestamp key="DATE_PATTERN" datePattern="yyyy-MM-dd"/>
    <timestamp key="TIME_PATTERN" datePattern="HH:mm:ss.SSS"/>

    <property name="USER_HOME" value="${HOME}/Documents"/>
    <property name="LOG_PATTERN" value=" ${DATE_PATTERN} ${TIME_PATTERN}[%-5level] %logger{36} - %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${USER_HOME}/booklay/shop/logs/PROD_${DATE_PATTERN}.log</file>

        <!--로그 출력 포맷-->
        <encoder>
            <pattern> ${LOG_PATTERN} </pattern>
        </encoder>

        <!--롤링 정책-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>booklay_shop_prod.log.%d{yyyy-MM-dd}_%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> ${LOG_PATTERN} </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 로그백 관련 리소스 해제 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>