<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <springProperty name="PROJECT_PROFILE" source="spring.profiles.active"/>
    <springProperty name="PROJECT_NAME" source="spring.application.name"/>

    <springProperty name="ROOT_LOG_LEVEL" source="log.level.root"/>

    <springProperty name="HIBERNATE_LOG_LEVEL" source="log.level.hibernate-sql"/>
    <springProperty name="KAFKA_LOG_LEVEL" source="log.level.kafka"/>
    <springProperty name="REDIS_LOG_LEVEL" source="log.level.redis"/>
    <springProperty name="BEANS_FACTORY_LOG_LEVEL" source="log.level.beans-factory"/>
    <springProperty name="SPRING_DATA_LOG_LEVEL" source="log.level.spring-data"/>
    <springProperty name="CONTEXT_LOG_LEVEL" source="log.level.context"/>

    <timestamp key="DATE_PATTERN" datePattern="yyyy-MM-dd"/>
    <timestamp key="TIME_PATTERN" datePattern="HH:mm:ss.SSS"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="USER_HOME" value="${HOME}/Documents"/>
    <property name="LOG_PATTERN" value=" ${DATE_PATTERN} ${TIME_PATTERN} [%clr(%5p)] %logger{36} - %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${USER_HOME}/logs/${PROJECT_NAME}_${PROJECT_PROFILE}/${PROJECT_NAME}_${PROJECT_PROFILE}_${DATE_PATTERN}.log</file>

        <!--로그 출력 포맷-->
        <encoder>
            <pattern> ${LOG_PATTERN} </pattern>
        </encoder>

        <!--롤링 정책-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${USER_HOME}/logs/rollings/${PROJECT_NAME}_${PROJECT_PROFILE}/${PROJECT_NAME}_${PROJECT_PROFILE}_%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> ${LOG_PATTERN} </pattern>
        </encoder>
    </appender>


    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

<!--    kafka -->
    <logger name="org.apache.kafka" level="${KAFKA_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

<!--   Database -->
    <logger name="org.hibernate" level="${HIBERNATE_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.orm.jpa" level="${HIBERNATE_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.jdbc.datasource" level="${HIBERNATE_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

<!--   spring data -->
    <logger name="org.springframework.data.repository.config" level="${SPRING_DATA_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.data.repository.core.support" level="${SPRING_DATA_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.data.convert" level="${SPRING_DATA_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

<!--   spring context -->
    <logger name="org.springframework.context.annotation" level="${CONTEXT_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

<!--  spring beans factory -->
    <logger name="org.springframework.beans.factory.support" level="${BEANS_FACTORY_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

<!--   redis -->
    <logger name="org.springframework.data.redis" level="${REDIS_LOG_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- 로그백 관련 리소스 해제 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>